*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: sans-serif;
}

.wrapper{
  border-bottom: 5px solid rgba(0, 0, 0, 0.979);
}

.atm{
  height: 500px;
  width: 250px;
  background-color: rgb(190, 180, 180);
  margin: auto;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}

.container{
  text-align: center;
  margin-bottom: 20px;
}

h1{
  font-size: 1rem;
  text-align: center;
}

.screen p{
  font-size: 1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.screen{
  width: 90%;
  height: 180px;
  background-color: black;
  margin: auto;
  background-color: grey;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.61); 
}

.screen button{
  background-color: transparent;
  padding: 1px;
  color: rgba(0, 0, 0, 0.603);
  border: 1px solid rgba(0, 0, 0, 0.219);
  cursor: pointer;
  width: 70%;
  margin-top: 2px;
  cursor: pointer;
}

.atm .coinmoneyout {
  width: 30px;
  height: 130px;
  background-color: rgb(42, 192, 130);
  position: absolute;
  bottom: 0;
  left: -8px;  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(44, 82, 43, 0.541);
  transition: 1.2s;
  z-index: -1;
  transform-origin: top; 
}  

.atm .cashmoneyout {
  width: 50px;
  height: 160px;
  border-bottom-left-radius: 20px;
  background-color: rgb(211, 184, 110);
  position: absolute;
  top: 50px;
  left: -8px;  
  transition: 1.2s;
  z-index: -1;
  transform-origin: top;
  /* transform: rotate(90deg);  */
}

.cash{
  width: 100px;
  position: absolute;
  left: -135px;
  top: 25px;
  /* display: none; */
  animation-name: fall;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  z-index: -2;
  opacity: 0;
}



@keyframes fall {
  from {
    top: 25px;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    top: 455px;
    opacity: 1;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.bills{
  padding: 10px;
  cursor: pointer;
  background-color: rgba(192, 218, 192, 0.603);
}

.addThisForMoneyOut {
  animation-name: bend;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
  transition: 1s;
}

.penny{
  width: 45px;
  position: absolute;
  animation-name: coin;
  bottom: 0;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  animation-delay:1000ms;
  z-index: -1;
} 

.addToBend{
  animation-name: bendBack;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
} 

.quarter{
  width: 110px;
  position: absolute;
  bottom: -7px;
  animation-name: coin;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  animation-delay:1000ms;
  z-index: -1;
}
 
.dime{
  width: 40px;
  position: absolute;
  bottom: 0px;
  animation-name: coin;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  animation-delay:1000ms;
  z-index: -1;
}

.nickel{
  width: 50px;
  position: absolute;
  bottom: 0px;
  animation-name: coin;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  animation-delay:1000ms;
  z-index: -1;
}


@keyframes bend {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes bendBack {
  from{
    transform: rotate(90deg);
  }to{
    transform: rotate(0deg);
  }
}

@keyframes coin {
  from {
   right: 100px;
    
  }
  to {
    right: 400px;
    transform: rotate(-360deg) ;    
    
  }
}